{%extends 'base.html'%}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>
            Welcome to tweet me
        </h1>
    </div>
</div>

<div class="row" id="tweets">
    {current} 
</div>


<script> 
const tweetsElement = document.getElementById("tweets")

const xhr = new XMLHttpRequest
const method = 'GET'// 'POST'
const url = '/tweets'
const responsType = 'json'

function handleDidLike(tweetId, currentCount){
    console.log(tweetId, currentCount)
}

function likeBtn(tweet){
    return "<button class='btn btn-primary btn-sm' onclick=handleDidLike("+tweet.id + ","+ tweet.likes+") >"+ tweet.likes +" Like</button>"
}

function formatTweetElement(tweet){
    var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded mb-4 py-3 tweet' id=tweet-"
    + tweet.id + "> <p>" + tweet.content + 
        "</p><div class='btn-group'>" + likeBtn(tweet) +       
        "</div></div>"
    return formattedTweet
} 
xhr.responseType = responsType
xhr.open(method, url)
xhr.onload = function () {
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    var finalTweetstr = ""
    var i;
    for(i=0; i<listedItems.length; i++){
        console.log(listedItems[i])
        var tweetObject = listedItems[i]
        var currentItem = formatTweetElement(tweetObject) 
        finalTweetstr += currentItem
    }
    
    tweetsElement.innerHTML = finalTweetstr
}
xhr.send()

</script>

{% endblock content %}